<p id="notice"><%= notice %></p>

<h1>Library</h1>

<%= categories_select(@library, path_helper: method(:library_path)) %>

<%= render partial: 'media/cards_display', locals: { media_view: @library } %>
