<p id="notice"><%= notice %></p>

<h1>Listing Load Funds Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @load_funds_transactions.each do |load_funds_transaction| %>
      <tr>
        <td><%= load_funds_transaction.amount %></td>
        <td><%= link_to 'Show', load_funds_transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Load funds transaction', new_load_funds_transaction_path %>
