<p>
  <strong>Title:</strong>
  <%= medium.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= medium.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= medium.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= medium.category %>
</p>
