<nav class="nav nav-inline">
  <%= link_to 'Books', path_helper.call(media_content_type: Medium::BOOK), class: 'nav-link' %>
  <%= link_to 'Music', path_helper.call(media_content_type: Medium::SONG), class: 'nav-link' %>
  <%= link_to 'Movies', path_helper.call(media_content_type: Medium::VIDEO), class: 'nav-link'%>
  <%= link_to 'Podcasts', path_helper.call(media_content_type: Medium::PODCAST), class: 'nav-link' %>
</nav>
